<div class="row">
    <div class="col">
        <div class="nav">
            {{#each footer}}
            <div class=" flex-column">
                {{#each this}}
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li>

                            <a href="{{link}}" class="nav-link">{{text}}</a>

                        </li>
                    </ul>
                </div>
                {{/each}}
            </div>
            {{/each}}

        </div>
    </div>
</div>