<div class="card">
    {{#with navigation}}
    <div class="card-title">
        {{#with Logo}}
        <h3 class="title-text">{{Logo}}</h3>
        {{/with}}


        <div class="d-flex justify-content-end">
            <ul class="nav">

                {{#each links}}
                <li class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                </li>
                {{/each}}


                <li>
                    <a href="#" class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
    {{#with Logo}}
    <h3 class="title-text">{{Logo}}</h3>
    {{/with}}
    {{/with}}
</div>